.leaflet-container{
    width: 100%;
    height: 100vh;
}
.container{
    position: relative;
    overflow: hidden;
}
.main{
    display: flex;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.mobile_menu {
    position: fixed;
    left: 8px;
    top: 80px;
    background-color: #90b1ec;
    /* background-color: rgba(40, 75, 137, 0.5); */
    color: #fff;
    z-index: 9999;
}

.mobile_menu .list_menu {
    cursor: pointer;
    flex: 1;
    text-align: center;
    position: relative;
    padding: 5px;
    font-size: 1.2rem;
    /* pointer-events: none; */
}



    /* https://iconmonstr.com/plus-4-png/ */
    /* @font-face {
        font-family: 'Helvetica';
        src: url('./fonts/jf-openhuninn.ttf') format("opentype"),
            url('./fonts/jf-openhuninn.woff') format("woff")
    } */

    *{
        padding:0;
        margin:0;
        border:none;
        box-sizing:border-box;
        /* font-family: 'Noto Sans TC', sans-serif; */
        font-family: 'jf-openhuninn';
        text-decoration: none; 
        outline: none;
        list-style: none;
        /* -webkit-appearance:none; */
    }

    html,body{
        width: 100vw;
        height: 100vh; 
        height: calc(var(--vh, 1vh) * 100); 
        overflow:hidden ; 
    }

    .main{
        display: flex;
        width:100vw;
        height:100vh;
        height: calc(var(--vh, 1vh) * 100);
    }

    #loading{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        background-color: #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99999;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #cbcbe9;
        border-bottom: 16px solid #cbcbe9;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    #maskmap { 
        flex:3;
    }

    /* #list{
        min-width: 300px;
        flex:1;
        background-color:rgba(255, 255, 255, 1);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    } */

    .my-selector-c{
        background-color:rgba(255, 255, 255, 1);
        padding: 10px;
    }

    #buyday,#dayno{
        color:#ff8550;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .open_arrow{
        display:none;
    }

    .select-selected{
        padding: 10px 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 20px;
        letter-spacing: 0.5px;
        width: 100%;
        margin-bottom:10px;
        /*改變右邊箭頭樣式*/
        /* background: url("arrow.png") no-repeat right center transparent; */
    }

    .select-selected:after{
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent;
    }

    .d-none{
        display: none;
    }

    .list_selector{
        padding: 10px;
        display: flex;
        justify-content: space-around;
    }

    .datalist{
        height: 100%;
        overflow: auto;
        background-color:#fff;
    }
    .store_detail{
        padding:1rem;
        background-color: #90b1ec;
        color:white;
        margin-bottom: 5px;
    }

    .store_title{
        display:  inline-block;
    }
    
    .store_title span{
        font-size: 0.8rem;
    }

    .store_detail:last-child{
        margin-bottom: 0;
    }

    .store_detail>p{
        line-height: 2rem;
    }

    .addtolist{
        float: right;
        padding: 5px;
        cursor: pointer;
    }

    .addtolist svg{
        pointer-events: none;
    }

    #lovestorelist .addtolist{
        color:pink;
    }

    .addtolist.pink{
        color:pink;
    }

    .store_detail>span{
        text-align: right;
        font-size: 0.8rem;
        display: block;
    }
    
    .store_detail svg {
        margin: 0 5px 0 0px;
    }

    #mask_sel{
        display: flex;
        justify-content: space-around;
    }

    button{
        padding: 0.3rem;
        border-radius: 4px;
        font-size: 16px;
        width: 30%;
        background-color: #c8d8dd;
        color:#fff;
        cursor: pointer;
    }

      /* #mask_sel>button :hover, #mask_sel>button:focus, #mask_sel>button:active, #mask_sel>button.active{ */
    button :hover, button:focus, button:active, button.active{
        background-color: #90b1ec;
        color:#fff;
    }

    .mask_size{
        display: flex;
        justify-content:space-around;
        margin:10px 0;
    }

    .mask_size span{
        width: 45%;
        border: 1px solid #fff;
        border-radius: 20px;
        line-height: 2.5rem;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mask_size [data-size="adult"]{
        background-color: #bdd0f3;
    }

    .mask_size [data-size="child"]{
        background-color: #afdae6;
    }

    .store_detail a[href^="tel:"] {
        color: #fff;
        text-decoration: none;
    }

    .leaflet-popup-content span{
        color:#fff;
        width:50%;
    }

    .leaflet-popup-content .mask_size{
        width:150px;
    }



    @media only screen and (max-width: 600px) {
        @keyframes fadeinHand {
            0%{
                opacity: 1;
                transform: scale(1,1);
            }
            50%{
                opacity: 0;
                transform: scale(2);
            }
            100%{
                opacity: 1;
                transform: scale(1,1);
            }
            
        }
        .main{
            flex-direction:column;
        }

        #maskmap{
            position: relative;
        }

        .select-selected{
            font-size:1rem;
            padding: 5px;
            margin-bottom:5px;
        }

        .list_selector{
            padding:5px;
        }

        .my-selector-c p{
            padding-left: 10px;
            color:#423737;
        }

        .mask_size{
            margin:5px 0;
        }

        .open_arrow{
            display: block;
            border-radius: 12px 12px 0 0;
            background-color:#90b1ec;
            color: white;

            /* position: relative;; */
            /* margin-left: calc(50% - 25px); 
            z-index: 9999;            */
            /* cursor: pointer; */
            width:50px;
            transition: all .5s;
cursor: pointer;
    position: absolute;
    /* top: -12%; */
    top: calc(0% - 46px);
    left: calc(50% - 25px);
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    /* width: 100px;
    height: 100px; */
        }

        .open_arrow.active,.open_arrow.hover{
            color:#fff;
            background-color: #8cbcf1;
        }  

        .open_arrow svg{
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 36px; 
            pointer-events: none;
            transform: rotate(180deg);
        }

        .open_arrow.active svg{
            transform: rotate(0deg);
        }

        .store_detail{
            margin-bottom: 1px;
            padding: 1rem 2rem;
 
        }
        .store_title{
            font-size: 1.2rem;
        }

        .mask_size span{
            font-size: 1rem;
            line-height: 2rem;
            border-radius: 10px;
        }

        .leaflet-popup-content span{
            font-size: 1rem;
        }
    }


    /* cluster map */
    /* .marker-cluster-small {
        background-color:rgb(178, 175, 255) ;  
        background-color:#fff;
        background-size: cover;
        background-image: url('./plus.png');  
    } */
    .marker-cluster-small div {
        /* background-color:#fefffe; */
        /* background-image: url('./cluster.png'); */
        background-color:#fff;
        background-size: cover;
    }
    .marker-cluster-medium {
        background-color:#fbfcf2;
    }
    .marker-cluster-medium div { 
        background-color: #fff32f;
    }
    .marker-cluster-large {
        background-color:#a9b9fd;
    }
    .marker-cluster-large div {
        background-color:#dbe0f7;
        /* background-color: rgba(241, 128, 23, 0.6); */
    }
    .marker-cluster {
        background-clip: padding-box;
        border-radius: 20px;
    }
    .marker-cluster div {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-top: 5px;
        text-align: center;
        border-radius: 15px;
        font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
    .marker-cluster span {
        line-height: 30px;
    }

    .mycluster{
        width: 32px;
            height: 32px;
            line-height: 32px;
            /* background-image: url('./iconmonstr-location-9-48.png'); */
            background-size:cover;
            text-align: center;
    }
    .leaflet-interactive{
        /* width: 32px;
        height: 32px;
        line-height: 32px;
        background-image: url('./cluster.png');
        text-align: center; */
        stroke:honeydew;
        -webkit-text-stroke :honeydew;
        fill:white;
    }

    .leaflet-popup-content p {
        margin:10px 0;
    }

    .leaflet-popup-content svg{
        /* width: 1em; */
        text-align: center;
        margin-right: 5px;
        font-size: 1em;
    }

    .mobile_menu {
        position: fixed;
        left: 8px;
        top: 80px;
        background-color:#90b1ec;
        /* background-color: rgba(40, 75, 137, 0.5); */
        color:#fff;
        z-index: 9999;
    }

    .mobile_menu  .list_menu{
        cursor: pointer;
        flex: 1;
        text-align: center;
        position: relative;
        padding: 5px;
        font-size: 1.2rem;


        /* pointer-events: none; */
    }

    .list_menu svg{
        pointer-events: none;
    }

    .list_menu:hover,  .list_menu.active{
        color:#e9ff00;
    }


    /* dialog list_menu對話氣泡框 */
    .dialog {
        display: none;
        color: #444;
        background-color: #ecf5ff;
        border: 2px solid;
        border-color: #c4e1ff;
        border-radius: 10px;
        width: 80px;
        line-height: 40px;
        text-align:center;
        position: absolute;
        top:-47px;
        left:17px;
        font-size: 12px;
    }

    .dialog:before,
    .dialog:after {
        border: solid transparent;
        content: "";
        width: 0;
        height: 0;
        position: absolute;
    }

    .dialog:before {
        border-width: 13px 13px 0 13px;
        border-top-color: #c4e1ff; /*深色*/
        position: absolute;
        top: 100%;
        right: 26px;
    }

    .dialog:after {
        border-width: 10px 10px 0 10px;
        border-top-color: #ecf5ff; /*淺色*/
        top: 100%;
        right: 29px;
    }

    .list_menu:hover .dialog{
        display: block;
    }

    .overlay{     
        display: none;;
        z-index: 9999;
        height: 100%;
        width: 390px;
        background-color:#fff;
        /* overflow: hidden; */
        position: absolute;
        left: 50px;
        transition: all .35s ease-out; 
        
        /* display: flex;
        flex-direction: column; */
    }

    .overlay >*{   
        transition: all .35s ease-out;  
    }

    #personal.overlay{
        height: unset;
        padding: 15px 20px;
        background-color: #90b1ec;
        color: #fff;
        clip-path:unset;
    }

    /* #personal input{
        padding: 10px;
        margin:5px 0;
          width: 320px; 
    } */
    #personal p{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .close_overlay{
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        padding: 5px 10px;
        color: grey;
        font-size: 1rem;
        cursor: pointer;
    }

    .close_overlay svg{
        pointer-events:none;
    }

    .overlay.active{
        display: flex;
        flex-flow: column; 
    }


    @media only screen and (max-width: 600px) {
        .mobile_menu  .list_menu{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .overlay{
            /* -webkit-clip-path: polygon(42% 0, 58% 0, 58% 5%, 100% 5%, 100% 100%, 0 100%, 0 5%, 42% 5%);
            clip-path: polygon(42% 0, 58% 0, 58% 5%, 100% 5%, 100% 100%, 0 100%, 0 5%, 42% 5%); */
            
            background-color: rgba(255,255,255,1);
            transform: translateY(100%);
            height: 80vh;
            width:100vw;
            /* overflow: hidden; */
            position: absolute;
            left: 0;
            bottom: 37px;
            top:unset;
            height: unset;
            border-bottom: 1px solid #fff;
        }

        .overlay.ctrl_size .datalist{
            height: 30vh;
        }
        .overlay.active{
            transform: translateY(0%); 
        }

        #personal.overlay{
            height: unset;
        }

        .mobile_menu{
            left:unset;
            top:unset;
            bottom: 0;
            width: 100vw;
            display: flex;
            flex-flow: row;
            justify-content:space-around;
            height: 37px;
        }

        .datalist{
            height:50vh;
        }
    }

/* 
     #maskmap{
            position: relative;
            flex:3;
        } */
.user2 {
    position: relative;
    /* display: inline-block; */
    display: block;
    margin: 15px 0;
}
.user2 input {
    width: 100%;
    height: 3rem;
    font-size: 15px;
    padding: 12px;
    text-indent: 45px;
    background: #fff;
    border: none;
    outline: none;
}
.user2::before {
    height: 80%;
    content: '';
    width: 1px;
    border-right: 1px solid #d5c9c9;
    position: absolute;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
}

.cs{
    position: absolute;
    top: calc(50% - 0.5em);
    font-size: 20px;
    margin: 0 5px;
    color: #888;
    left: 10px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    /* display: none; */
    color:grey;
    -webkit-appearance: none;
}
button.btn_date,button.btn_date:hover, button.btn_date:focus, button.btn_date:active, button.btn_date.active {
    background-color: #c8d8dd;
    color: #fff;
}
button.btn_date:hover{
    background-color: #849da5;
}

.myrecord>div{
    /* width:340px; */
    border:1px solid;
    margin-top:35px;
}

.myrecord>div>div>:nth-child(1){
    margin-right: 30px;
}
 

input[type='date']{
    /* display:block; */
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    height:3rem;
    /* min-height: 1.2em; */
}

/* 
/* input[type='date']::placeholder {
    text-indent: 2.3em;
} */ 

.nodata{
    height: 100%;
    background-color: #90b1ec;
    color:#fff;   
}